/HW1/HW1.X/nbproject/private/
/HW1/HW1.X/build/default/
/HW1/HW1.X/dist/default/
/HW4.X/nbproject/private/
/HW4.X/dist/default/
HW2/PIC32/.picboard.sch.lck
HW2/PIC32/bmp.scr
HW2/PIC32/dxfimp.scr
HW2/PIC32/picboard.b#1
HW2/PIC32/picboard.b#2
HW2/PIC32/picboard.b#3
HW2/PIC32/picboard.b#4
HW2/PIC32/picboard.b#5
HW2/PIC32/picboard.b#6
HW2/PIC32/picboard.b#7
HW2/PIC32/picboard.b#8
HW2/PIC32/picboard.dri
HW2/PIC32/picboard.gpi
HW2/PIC32/picboard.s#1
HW2/PIC32/picboard.s#2
HW2/PIC32/picboard.s#3
HW2/PIC32/picboard.s#4
HW2/PIC32/picboard.s#5
HW2/PIC32/picboard.s#6
HW2/PIC32/picboard.s#7
HW2/PIC32/picboard.s#8
HW2/PIC32/picboard.s#9
HW2/PIC32/picboard_00.job
HW2/PIC32/picboard_00.pro
HW2/PIC32/picboard_01.job
HW2/PIC32/picboard_01.pro
HW2/PIC32/picboard_02.job
HW2/PIC32/picboard_02.pro
HW2/PIC32/picboard_03.job
HW2/PIC32/picboard_03.pro
HW2/PIC32/picboard_04.job
HW2/PIC32/picboard_04.pro
/hw6/hw6.X/nbproject/private/
/hw6/hw6.X/build/default/
/hw6/hw6.X/dist/default/
/hw5/hw5.X/nbproject/private/
/hw5/hw5.X/build/default/
/hw5/hw5.X/dist/default/